In [1]:
import pandas_datareader.data as web

In [3]:

import datetime

start = datetime.datetime(2015, 1, 1)

end = datetime.datetime(2017, 1, 1)

facebook = web.DataReader("FB", 'yahoo', start, end)

In [4]:
facebook.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 504 entries, 2015-01-02 to 2016-12-30
Data columns (total 6 columns):
Open         504 non-null float64
High         504 non-null float64
Low          504 non-null float64
Close        504 non-null float64
Adj Close    504 non-null float64
Volume       504 non-null int64
dtypes: float64(5), int64(1)
memory usage: 27.6 KB

In [5]:
facebook.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  78.580002  78.930000  77.699997  78.449997  78.449997  18177500
2015-01-05  77.980003  79.250000  76.860001  77.190002  77.190002  26452200
2015-01-06  77.230003  77.589996  75.360001  76.150002  76.150002  27399300
2015-01-07  76.760002  77.360001  75.820000  76.150002  76.150002  22045300
2015-01-08  76.739998  78.230003  76.080002  78.180000  78.180000  23961000

In [6]:
facebook.describe()

,Open,High,Low,Close,Adj Close,Volume
count,504.000000,504.000000,504.000000,504.000000,504.000000,5.040000e+02
mean,102.915238,103.887540,101.814325,102.904365,102.904365,2.617613e+07
std,17.101365,17.100172,17.055386,17.077900,17.077900,1.337043e+07
min,74.040001,74.830002,72.000000,74.050003,74.050003,5.913100e+06
25%,86.759999,87.804998,85.640002,86.850002,86.850002,1.818800e+07
50%,105.260002,106.299999,104.040001,105.074997,105.074997,2.248215e+07
75%,117.837502,118.680000,116.844997,117.762501,117.762501,2.976635e+07
max,133.500000,133.500000,132.220001,133.279999,133.279999,1.074753e+08